* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-title-header: #ff9614;
  --color-title-card: #4e3969;
}

.col-sm-12 {
  width: calc(100% / 12 * 12);
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  background-color: #f6f5f3;
}

.site_header {
  background-color: white;
  height: 90px;
  .container_header {
    .title_site_header {
      text-align: center;
      font-family: "Nerko One", cursive;
      font-size: 30px;
      color: var(--color-title-header);
      text-shadow: 2px 1px rgb(164, 164, 164);
    }
  }
}

.site_main {
  .container_card {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    .card {
      .category {
        .text_grey {
          color: grey;
          font-weight: 100;
        }
      }
      .title_card {
        color: var(--color-title-card);
        .hide {
          display: none;
        }
      }
      .img_card img {
        width: 100%;
      }
      .list_card {
        background-color: white;
        padding: 30px;
        .title_list {
          padding: 20px 0px;
        }
        ul {
          list-style: none;

          li {
            padding: 10px 0px;
          }
        }
      }
    }
  }
  .social {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    .container_social {
      display: flex;
      justify-content: space-between;
      .facebook {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: blue;

        .hide_lg {
          display: none;
        }
      }
      .instagram {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: palevioletred;

        .hide_lg {
          display: none;
        }
      }
      .twitter {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: lightskyblue;

        .hide_lg {
          display: none;
        }
      }
      .pinterest {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: red;

        .hide_lg {
          display: none;
        }
      }
      .youtube {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: red;

        .hide_lg {
          display: none;
        }
      }
    }
  }
  .banner {
    .hide_lg {
      display: none;
    }
  }
  .presentation {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    .title_presentation {
      font-size: 36px;
      font-weight: 400;
      padding-bottom: 20px;
    }
    hr {
      width: 18%;
      color: orange;
      margin-bottom: 20px;
    }
    .img_presentation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .img_presentation img {
      width: 68%;
      margin: 10px 0px 10px 0px;
    }
    .text_presentation {
      line-height: 2rem;
    }
  }
}

.site_footer {
  margin-top: 20px;
  height: 200px;
  background-color: #7c69a4;
  .nav_footer {
    width: 90%;
    margin: 0 auto;
    .info_footer {
      padding-top: 20px;
      color: white;
      font-weight: 700;
      text-align: center;
    }
    .indirizzo {
      padding-top: 10px;
      color: white;
      text-align: center;
    }
    .nav_list_footer {
      padding-top: 20px;
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        li {
          list-style: none;
          a {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .site_header {
    .container_header {
      .title_site_header {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
  .site_main {
    .container_card {
      .card {
        .title_card {
          display: flex;
          align-items: center;
          gap: 10px;
          .hide {
            display: inline;
            font-weight: 700;
          }
        }
        .list_card {
          ul {
            display: flex;
            gap: 25px;

            li {
              padding: 10px 0px;
            }
          }
        }
      }
    }
    .social {
      .container_social {
        gap: 20px;
        .facebook {
          width: 150px;
          border-radius: 30px;
        }
        .facebook {
          width: 150px;
          border-radius: 30px;
        }
        .twitter {
          width: 150px;
          border-radius: 30px;
        }
        .instagram {
          width: 150px;
          border-radius: 30px;
        }
        .pinterest {
          width: 150px;
          border-radius: 30px;
        }
        .youtube {
          width: 150px;
          border-radius: 30px;
        }
      }
    }
    .banner {
      width: 90%;
      margin: 0 auto;
      .hide_lg {
        display: inline-block;
      }
      .img_banner {
        padding: 20px 0px 20px 0px;
        img {
          width: 100%;
        }
      }
    }
    .presentation {
      .title_presentation {
      }
      .img_presentation {
        display: inline-block;
      }
      .img_presentation img {
        width: 59%;
        margin: 20px 10px 10px 0px;
        float: left;
      }
      .text_presentation p {
        padding: 10px;
      }
    }
  }
}
